# adjust language analysis of github
# https://github.com/github/linguist/blob/master/docs/overrides.md

# ignore by setting it to category linguist-documentation
testFiles/* linguist-documentation
pm2/* linguist-documentation
setup/* linguist-documentation

# add by setting it to category linguist-detectable
*.sql linguist-detectable
